@using WatchHeaven.Services.Data.Interfaces
@using WatchHeaven.Web.Infrastructure.Extensions
@model WatchDetailsViewModel
@inject ISellerService SellerService
@{
    bool isUserSeller = await SellerService.SellerExistsByUserIdAsync(this.User.GetId()!);
    bool isSellerOwnerOfTheWatch = await SellerService.HasWatchWithIdAsync(this.User.GetId(), Model.Id);
}

@{
    ViewBag.Title = "Watch Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 30rem;"
                 src="@Model.ImageUrl" alt="Watch Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Brand</u></p>
            <p style="font-size:20px;"><u>@Model.Model</u></p>
            <p>
                Price:
                <b>@($"{Model.Price:f2}") BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.Category</b></p>
            <p>Condition: <b>@Model.Condition</b></p>
            <div class="form-inline">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    @if ((isUserSeller && isSellerOwnerOfTheWatch) || this.User.IsAdmin())
                    {
                        <a class="btn btn-warning" asp-controller="Watch" asp-action="Edit"
                   asp-route-id="@Model.Id">Edit</a>
                        <a class="ml-2 btn btn-danger" asp-controller="Watch" asp-action="Delete"
                   asp-route-id="@Model.Id">Delete</a>
                    }
                }
                <form class="ml-2" asp-controller="Watch"
                      asp-action="Buy" asp-route-id="@Model.Id" method="post">
                    <input class="btn btn-primary" type="submit" value="Buy" />
                </form>
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Seller Info</h5>
                    <p class="card-text">Name: @Model.Seller.FullName</p>
                    <p class="card-text">Email:  @Model.Seller.Email</p>
                    <p class="card-text">Phone Number: @Model.Seller.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>